<div class="mda-list-item">
    <div class="mda-list-item-icon bg-info">
        <em class="fa fa-coffee fa-lg"></em>
    </div>
    <div class="mda-list-item-text mda-2-line">
        <h3>Min Li Chan</h3>
        <h4>Brunch this weekend?</h4>
    </div>
</div>
<div class="mda-list-item">
    <div class="mda-list-item-icon bg-purple">
        <em class="fa fa-cloud fa-lg"></em>
    </div>
    <div class="mda-list-item-text mda-2-line">
        <h3>Min Li Chan</h3>
        <h4>Lunch this weekend?</h4>
    </div>
</div>
<div class="mda-list-item">
    <div class="mda-list-item-initial bg-pink">M</div>
    <div class="mda-list-item-text mda-2-line">
        <h3>Min Li Chan</h3>
        <h4>Dinner this weekend?</h4>
    </div>
</div>
</div>